/* NotificationDetail.css */

.NotificationDetailDiv {
    z-index: 1000;
    background-color:  rgba(204, 223, 241, 0.896);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    width: 470px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    opacity: 0.8;
}

.NotificationDetailH1 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Dovemayo_wild';
}

.NotificationDetailP {
    display: flex;
    font-size: 16px;
    margin-bottom: 2px;
    font-family: 'Dovemayo_wild';
}

.NotificationDetailButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Dovemayo_wild';
}

    .NotificationDetailButton:hover {
        background-color: #0056b3;
    }

.NotificationCloseButton{
    margin-left:95%;
    font-size: 20px;
}
.buttonStatus {
    display: flex;
    justify-content: space-between; /* 가로로 간격을 고르게 배치 */
    margin-top: 10px; /* 상단 여백을 조절하거나 필요에 따라 수정해주세요 */
}

.NotificationBody{
    background-color: azure;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}

.NotificationDetailLabel {
    font-family: 'Dovemayo_wild';
    width:200px;
}

.NotificationDetailLabelChildren{
    font-family: 'Dovemayo_wild';
    right:0;
}

.NotificationDetailLabelMain{
    display: block;
    font-family: 'Dovemayo_wild';
    width:150px;
    margin: auto;
    font-weight: bold; /* 굵게 설정 */
    font-size: 18px; /* 크기 조정 */
}
.NotificationDetailLabelChildrenMain{
    font-family: 'Dovemayo_wild';
    width : 200px;

}