.background{
    background: #bcd8da;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    overflow:auto;
}

.h2{
    font-family: 'Dovemayo_wild';
    margin-top: 240px;
    color: #012A4A;
    font-size: 40px;
}

.button{
    position: relative;
    font-family: 'Dovemayo_wild'; 
    color: white;
    background-color: #013A63;
    width: 200px;
    height: 50px;
    font-size: 21px;
    bottom: -50px;
    /* margin-right: 70px; */
    border-radius: 15px;
}