.title{
  position: fixed;
  font-family: 'EF_jejudoldam';
  color: #012A4A;
  font-size: 35px;
  margin-left: -1250px;
  margin-bottom: 650px;
  z-index: 9;
}

/* 관리자 페이지 */
.admin-space {
  position: relative;
  display: inline-block;
}

.admin{
width:55px;
position: fixed;
top: 17px;
right: 410px;
z-index: 10;
}

.adminModal{
  position: absolute;
  font-family: 'Dovemayo_wild';
  font-size: 17px;
  width: 160px;
  /* height: 50px; */
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  top: 75px;
  right: 360px;
  margin: 0;
  padding: 10px;
  flex-direction: column;
}




/* 내 정보 */
.user-space{
  position: relative;
  display: inline-block;
}

.user {
  width: 55px;
  position: fixed;
  top: 20px;
  right: 320px;
  z-index: 9;
}

.meModal {
  font-family: 'Dovemayo_wild';
  font-size: 17px;
  width: 160px;
  height: 270px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  top: 75px;
  right: 270px;
  margin: 0;
  padding: 10px;
  flex-direction: column;
}

.mytext {
  margin: 10px 0;
  font-size: clamp(14px, 1.5vw, 18px);
}

.mytext:hover {
  background-color: rgba(122, 184, 243, 0.896);
  opacity: 0.5;
  border-radius: 15px;
  color: white;
}


/* 알림 */
.dding-space {
  position: relative;
  display: inline-block;
}

.dding {
  width: 60px;
  height: auto;
  position: fixed;
  top: 17px;
  right: 230px;
  z-index: 9;
  transition: all 0.3s;
}

.ddingModal {
  font-family: 'Dovemayo_wild';
  font-size: 17px;
  width: 300px;
  /* height: 90px; */
  max-height: 300px;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  top: 76px;
  right: 115px;
  margin: 0;
  padding: 10px;

  border: 1px solid #e0e0e0;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  transition: all 0.3s;
}

/* 스크롤바 */
.ddingModal::-webkit-scrollbar {
  width: 4px;
}

.ddingModal::-webkit-scrollbar-track {
  /* background-color: grey; */
  border-radius: 10px;
  /* box-shadow: inset 0px 0px 5px white; */
}

.ddingModal::-webkit-scrollbar-thumb {
  background-color: #8db1c7;

  border-radius: 10px;
  /* background-clip: padding-box; */
  border: 1px solid transparent;
}



.notification-item {
  padding: 10px 15px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 0.95em;
  color: #555;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.4;
  transition: background-color 0.2s;
  
  /* 간격 및 둥근 테두리 스타일 추가 */
  margin-bottom: 8px;      /* 아이템 간의 간격 설정 */
  border-radius: 20px;      /* 둥근 테두리 설정 */

  display: flex;           /* 플렉스박스 설정 */
  align-items: center;     /* 수직 중앙 정렬 */

  overflow: auto;
}


.notification-item:hover {
  background-color: #f5f7f9;
}

.notification-item:last-child {
  border-bottom: none;
  margin-bottom: 0;        /* 마지막 아이템에는 margin-bottom을 제거 */
}

.notification-item img {
  float: left;           /* 이미지를 왼쪽에 고정 */
  margin-right: 10px;    /* 텍스트와의 간격 확보 */
  width: 30px;           /* 이미지 크기 설정 */
  height: 30px;          /* 이미지 크기 설정 */
}


.refresh-button {
  cursor: pointer;
  padding: 10px 15px;
  background-color: #f5f5f5;
  text-align: center;
  border-top: 1px solid #e0e0e0;
  transition: background-color 0.2s;
  border-radius: 20px;
}

.refresh-button:hover {
  background-color: #e7e9eb;
}

.refresh-icon {
  vertical-align: middle;
  transition: transform 0.2s;
}

.refresh-button:hover .refresh-icon {
  transform: rotate(90deg);
}

.notification-chat-invite {
  background-color: #f6fd95;
}

.notification-friend-request {
  background-color: #ccffcc;
}

.notification-fail-request {
  background-color: #ffcccc;
}






/* 언어 변경(지구) */
.earth-space{
  position: relative;
  display: inline-block;
}

.earth{
  width:50px;
  position: fixed;
  top: 24px;
  right: 50px;
  z-index: 10;
}

.earthModal{
  font-family: 'Dovemayo_wild';
  font-size: 17px;
  width: 100px;
  height: 90px;
  margin-top: -320px;
  margin-left: 1350px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  top: 76px;
  right: 30px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.countrytext{
  margin: 5px 0;
}

.countrytext:hover{
  background-color: rgba(122, 184, 243, 0.896);
  opacity: 0.5;
  border-radius: 15px;
  color: white;
}


/* faq */
.faq-space{
  position: relative;
  display: inline-block;
}

.faq{
  width:50px;
  height: auto;
  position: fixed;
  top: 24px;
  right: 140px;
  z-index: 10;

}

.faqModal{
  font-family: 'Dovemayo_wild';
  font-size: 17px;
  width: 120px;
  height: 90px;
  border-radius: 15px;
  background-color: white;
  opacity: 0.8;
  z-index: 100;
  position: fixed;
  top: 76px;
  right: 110px;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.faqtext{
  margin: 5px 0;
}

.faqtext:hover{
  background-color: rgba(122, 184, 243, 0.896);
  opacity: 0.5;
  border-radius: 15px;
  color: white;
}

.img{
  width: '50px';
  height: '50px';
  border-radius: '50%';
  overflow: 'hidden';
  margin-top: 15px;
}


/* -------------- 반응형 구간 ------------------------- */
/* 큰화면 */
@media only screen and (min-width : 1900px) {
  .user, .meModal {
    zoom: 1.5
  }

  .dding, .ddingModal {
    zoom: 1.5
  }

  .earth, .earthModal {
    zoom: 1.5
  }

  .faq, .faqModal {
    zoom: 1.5
  }
}

/* 작은화면 */
@media only screen and (max-width: 1200px) {
  .user, .meModal {
    zoom: 1
  }

  .dding, .ddingModal {
    zoom: 1
  }

  .earth, .earthModal {
    zoom: 1
  }

  .faq, .faqModal {
    zoom: 1
  }
}

@media only screen and (max-width: 950px) {
  .user, .meModal {
    zoom: 0.7
  }

  .dding, .ddingModal {
    zoom: 0.7
  }

  .earth, .earthModal {
    zoom: 0.7
  }

  .faq, .faqModal {
    zoom: 0.7
  }
}

@media only screen and (max-width: 546px) {
  .user, .meModal {
    zoom: 0.5
  }

  .dding, .ddingModal {
    zoom: 0.5
  }

  .earth, .earthModal {
    zoom: 0.5
  }

  .faq, .faqModal {
    zoom: 0.5
  }
}